::selection {
  background: orange;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Times New Roman", Times, serif;
}

h1 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.content {
  width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1250px) {
  .content {
    margin: 0 40px;
    width: auto;
  }
}

/* NAVBAR */
.nav {
  height: 80px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav ul {
  display: flex;
}
@media only screen and (max-width: 850px) {
  .nav ul {
    display: none;
  }
}
.nav ul li {
  margin: 0 20px;
  list-style-type: none;
}

.nav-icon {
  display: none;
}
@media only screen and (max-width: 850px) {
  .nav-icon {
    display: initial;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 40px;
    position: fixed;
    left: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* HOME */
#home {
  height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
#home .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home a {
  color: #fff;
}
#home a:hover {
  color: orange;
}

.home-text {
  font-family: "Lato", "Times New Roman", Times, serif;
  text-align: center;
}
.home-text h1 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 4rem;
}
.home-text p {
  margin-top: 20px;
}
.home-text .home-btn {
  text-transform: uppercase;
  margin-top: 40px;
}
.home-text a {
  padding: 10px 15px;
  border: 1px solid white;
}
.home-text a:hover {
  border-color: orange;
}

.home-footer {
  height: 80px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-footer .home-social-network {
  display: flex;
}
.home-footer .home-social-network a:first-child {
  margin-right: 30px;
}
.home-footer .home-adress {
  display: flex;
}
.home-footer .home-adress i {
  color: orange;
  margin-right: 10px;
}

/* PRESENTATION */
#presentation {
  padding: 100px 0;
}
#presentation h1 {
  margin-bottom: 40px;
}
#presentation p {
  margin-bottom: 20px;
  text-align: justify;
}
#presentation .presentation-img {
  text-align: center;
}
#presentation img {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

/* INFORMATIONS */
#informations {
  background-color: #f1f1f1;
}
#informations p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}
#informations .content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
@media only screen and (max-width: 850px) {
  #informations .content {
    flex-direction: column;
    align-items: center;
  }
}
#informations .info {
  margin: 150px 0;
}
@media only screen and (max-width: 850px) {
  #informations .info {
    margin: 150px 0;
  }
}
#informations a {
  color: #000;
}
#informations a:hover {
  color: orange;
}

/* FOOTER */
footer {
  padding: 50px 0;
  background-color: #151515;
  color: #777;
}
footer a {
  color: #777;
}
footer a:hover {
  color: orange;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content h2 {
  font-size: 1rem;
  color: orange;
  margin-bottom: 30px;
}
footer .footer-content i {
  margin-right: 10px;
}
footer .footer-content .footer-item {
  margin: 20px 0;
}
footer .footer-copyright {
  text-align: center;
  margin-top: 50px;
}
footer .footer-copyright p {
  margin-bottom: 5px;
}
footer .footer-copyright a {
  color: #fff;
}
footer .footer-copyright a:hover {
  color: orange;
}

/*# sourceMappingURL=style.css.map */
