::selection {
  background: orange;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Times New Roman", Times, serif;
}

h1 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}

a {
  text-decoration: none;
}

.content {
  width: 1200px;
  margin: auto;
}
@media only screen and (max-width: 1250px) {
  .content {
    margin: 0 40px;
    width: auto;
  }
}

/* NAVBAR MOBILE */
.nav-icon {
  display: none;
}
@media only screen and (max-width: 850px) {
  .nav-icon {
    display: initial;
    background-color: rgba(0, 0, 0, 0.2);
    height: 40px;
    width: 40px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav-icon button {
    background-color: rgba(255, 0, 0, 0);
    border: none;
    color: #fff;
    cursor: pointer;
    outline: 0;
  }
  .nav-icon button:hover {
    color: orange !important;
  }
}

#navmobile {
  display: none;
}
@media only screen and (max-width: 850px) {
  #navmobile {
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
    display: none;
  }
  #navmobile ul {
    margin-top: 50vh;
    transform: translateY(-50%);
  }
  #navmobile li {
    margin: 50px 0px;
    list-style-type: none;
  }
  #navmobile a {
    color: #000 !important;
  }
  #navmobile a:hover {
    color: orange !important;
  }
}

/* NAVBAR */
.nav {
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 100px;
  box-sizing: border-box;
  transition: 0.5s;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 1300px) {
  .nav {
    padding: 0 50px;
  }
}
.nav ul {
  display: flex;
}
@media only screen and (max-width: 850px) {
  .nav ul {
    display: none;
  }
}
.nav ul li {
  margin: 0 20px;
  list-style-type: none;
}

.nav-white {
  background-color: rgba(255, 255, 255, 0.9);
  transition: 1s;
}
.nav-white a {
  color: #222222 !important;
}
.nav-white a:hover {
  color: orange !important;
}
@media only screen and (max-width: 850px) {
  .nav-white {
    display: none;
  }
}

/* HOME */
#home {
  height: 100vh;
  background-image: url("../img/home.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
#home .content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#home a {
  color: #fff;
}
#home a:hover {
  color: orange;
}

.home-text {
  font-family: "Lato", "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 50vh;
  transform: translateY(-50%);
}
.home-text h1 {
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  font-size: 4rem;
}
.home-text p {
  margin-top: 20px;
}
.home-text .home-btn {
  text-transform: uppercase;
  margin-top: 40px;
}
.home-text a {
  padding: 10px 15px;
  border: 1px solid white;
}
.home-text a:hover {
  border-color: orange;
}

.home-footer {
  height: 80px;
  font-family: "Playfair Display", "Times New Roman", Times, serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-footer .home-social-network {
  display: flex;
}
.home-footer .home-social-network a:first-child {
  margin-right: 30px;
}
.home-footer .home-adress {
  display: flex;
  align-items: center;
}
.home-footer .home-adress i {
  color: orange;
  margin-right: 10px;
}

/* PRESENTATION */
#presentation {
  padding: 100px 0;
}
#presentation h1 {
  margin-bottom: 40px;
}
#presentation p {
  margin-bottom: 20px;
  text-align: justify;
}
#presentation .presentation-img {
  text-align: center;
}
#presentation img {
  max-width: 1000px;
  width: 100%;
  height: auto;
}

/* INFORMATIONS */
#informations {
  background-color: #f1f1f1;
  padding: 100px 0;
}
#informations p {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 20px;
}
#informations .content {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
@media only screen and (max-width: 850px) {
  #informations .content {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 850px) {
  #informations .informations-content {
    margin: 150px 0;
  }
}
#informations a {
  color: #000;
}
#informations a:hover {
  color: orange;
}

/* CONTACT */
#contact {
  padding: 100px 0;
}
#contact p {
  text-align: center;
  margin: 20px;
}
#contact .contact-content {
  display: flex;
  align-items: center;
}
#contact form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  max-width: 720px;
  padding-right: 20px;
  box-sizing: border-box;
}
#contact form input {
  height: 25px;
  padding-left: 10px;
  margin: 10px 0;
  border: 1px solid gray !important;
}
#contact form textarea {
  height: 100px;
  margin: 10px 0;
  padding: 10px 0 0 10px;
  resize: vertical;
  border: 1px solid gray !important;
}
#contact form .send-btn {
  width: 100px;
  margin: 10px 0;
  padding: 15px 15px;
  border: 1px solid gray !important;
  text-transform: uppercase;
  background-color: rgba(255, 0, 0, 0);
  border: none;
  color: gray;
  cursor: pointer;
  outline: 0;
}
#contact form .send-btn:hover {
  border-color: orange !important;
  color: orange;
}
#contact .contact-infos {
  width: 40vw;
  padding-left: 20px;
}
#contact .contact-infos .contact-info {
  margin-bottom: 20px;
}
#contact .contact-infos .contact-info:last-child {
  margin-bottom: 0px;
}
#contact .contact-infos h2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#contact .contact-infos p {
  text-align: left;
  margin: 0;
  font-size: 1rem;
}
#contact .contact-infos a {
  color: #000;
  font-size: 1rem;
}
#contact .contact-infos a:hover {
  color: orange;
}
#contact .contact-social-network-content {
  display: flex;
}
#contact .contact-social-network-content .contact-social-network {
  height: 25px;
  width: 25px;
  background-color: orange;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact .contact-social-network-content .contact-social-network a {
  color: #fff;
}
#contact .contact-social-network-content .contact-social-network a:hover {
  color: #000;
}

/* FOOTER */
footer {
  padding: 50px 0;
  background-color: #151515;
  color: #777;
}
footer a {
  color: #777;
}
footer a:hover {
  color: orange;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer-content h2 {
  font-size: 1rem;
  color: orange;
  margin-bottom: 30px;
}
footer .footer-content i {
  margin-right: 10px;
}
footer .footer-content .footer-item {
  margin: 20px 0;
}
footer .footer-copyright {
  text-align: center;
  margin-top: 50px;
}
footer .footer-copyright p {
  margin-bottom: 5px;
}
footer .footer-copyright a {
  color: #fff;
}
footer .footer-copyright a:hover {
  color: orange;
}

/*# sourceMappingURL=style.css.map */
